.Breadcrumb {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 16px 0;

  li {
    color: #999;
    font-size: 14px;

    &::after {
      content: ">";
      display: inline-block;
      margin-left: 5px;
    }

    & + li {
      margin-left: 5px;
    }

    &:last-child {
      font-weight: bold;

      &::after {
        display: none;
      }
    }
  }
}
